# Directorios específicos
api_crud_menu_postgres/
api_crud_user_mysql/
api_reservation_old/
api_reservation_Spring_Boot/
companies-crud/
menu_maven_old/
microservicio_old/
microservice-udemy/

# Archivos Java y de configuración
*.class
*.jar
application.properties
maven-wrapper.properties

# Archivos Docker
docker-compose.yml
Dockerfile

# Archivos SQL y de datos
r1-create_schema.txt
r1-data.txt

# Archivos HTML y multimedia
index.html
*.png

# Archivos Maven
pom.xml

# Archivos de texto y pruebas
test.txt
test-file.txt

# Archivos específicos de IDE
.idea/
*.iml
