HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Ignorar carpetas específicas
api_crud_menu_postgres/
api_crud_user_mysql/
api_reservation_old/
api_reservation_Spring_Boot/
companies-crud/
menu_maven_old/
microservicio_old/
microservice-udemy/

IdeaProjects/
api_crud_menu/

# Archivos de Node.js
node_modules/
package-lock.json
package.json
# Ignorar archivos específicos

*.zip
*.xml
*.txt
*.sql
*.html
.DS_Store
.idea/

*.log

